html,
body {
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

hr {
  border-bottom: 1px solid #dc2037;
  border-top: none;
}

@media(max-width:640px) {
  html {
    font-size: 13px;
  }
}